[Desktop Entry]
Name=MX Night Light
Comment=Simple color temperature application based on Redshift
Exec=mx-night-light --tray
Icon=redshift
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Keywords=redshift;night;light;eye;blue;color;temperature
