[Desktop Entry]
Name=MX Night Light
Comment=Simple color temperature application based on Redshift
Comment[tr]=Redshift tabanlı basit renk sıcaklığı uygulaması
Exec=mx-night-light --tray
Icon=mx-night-light
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Keywords=redshift;night;light;eye;blue;color;temperature
